@import url(https://fonts.googleapis.com/css?family=Montserrat);

#solidbio-graph {
  position: relative;
  font-size: 18px !important;
}

.solidbio-graph {
  font-family: 'Open-sans';
}

path {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  cursor: pointer;
}

.non-active, .big-innerRing {
  cursor: default;
}

.line {
  fill: none;
  stroke: blue;
  stroke-width: 1.5px;
}

.innerRing {
  color: #ffffff;
  /*font-family: 'Montserrat', sans-serif;*/
  font-size: 1em;
}

.outerRing {
  color: #ffffff;
  /*font-family: 'Montserrat', sans-serif;*/
  font-size: 1em;
}

.data {
  color: #ffffff;
  /*font-family: 'Montserrat', sans-serif;*/
  font-size: 1em;
}

.solid {
  color: #ffffff;
  /*font-family: 'Montserrat', sans-serif;*/
  font-size: 0;
}

#organogram-info {
  float: left;
}

.hidden-path {
  opacity: 0;
}

.graph-logo {
  display: block;
  margin: auto;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
}

text {
  pointer-events: none;
  font-weight: 400;
}

#button-wrapper {
  z-index: -10;
  width: 52px;
}

#button {
    background-color: #ffffff;
    border: 1px solid #ff6d53;
    border-radius: 5px;
    color: #ff6d53;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1.5s, opacity 1.5s linear;
    cursor: pointer;
}

#button-wrapper {
  position: relative;
  top: -400px;
  margin: 0 auto;
}

#button-wrapper #button {
  margin: 0 auto;
}